/******************************************************************* 
*                      Page Background                             * 
*******************************************************************/

body
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Images/Background.jpg);
/*    background-image: url(../Images/Background.jpg);*/
    height: 200vh;
    background-size: cover;
    background-position: center;
    font-family: monospace;
    font-size: small; /*13px*/

    /*border: 10px aquamarine solid;*/
    width: 1320px;
    max-width: 2300px;

    margin: auto;
}

/****************************************************************** 
*                       Page Header                              *
******************************************************************/
header {

    /*min-height: 200px;*/
    color: white;
    height: 200px;  /*200*/
/*    border: white 3px solid;*/
}

/************************* Nav bar *************************/
.nav-container {
    width: 600px;
    height: 50px;
    float: right;
    /*border: 3px white solid;*/
}

.nav {
   /*border: lawngreen 3px solid;*/
}

.nav li {
    display: inline-block;
}

.nav li a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 1.154em /*15px*/;
}

.nav li.active a {
    border: 1px solid white;
}

.nav li a:hover {
    border: 1px solid white;
}

/************************* Logo *************************/
.logo {
    float: left;
    /*border: 1px solid white;*/
    width: 150px;
    height: 150px;
    margin: 25px auto auto 50px;
}

.logo img {    
    width: auto;
    height: 150px;
    block-size: 150px;
}

/************************* Banner *************************/
.banner-container {
    height: 150px; /*150*/
    width: 1100px;
    float: left;
/*    border: 1px white solid;*/
}

.banner {
    /*border: 1px yellow solid;*/
    margin: auto;
    height: 120px;
    width: 800px;
   
    text-align: center;
}

.banner h1 {
    height: 100px;
    margin: auto auto auto auto;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 100px;
}

hr {
    width: 70%;
    height: 2%;
    background-color: red;
}

/****************************************************************** 
*                    Container - Page body                       * 
******************************************************************/

.container {
    /*margin: 20px auto auto auto;*/
    width: 1320px; /*1340*/
    height: 850px;
/*    border: 1px solid yellowgreen;*/
}

/************************* Card *************************/
.card {
   /* background-color: lightgrey;*/
    border: 2px solid aqua;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 300px;
    height: 400px;
    margin: 13px;
    float: left;
    text-decoration: none;
    color: skyblue;
    font-size: 15px;
}

.card:hover {
    color: white;

}

/************************* Index Card *************************/
/*
.icon-container {
    border: yellow 2px solid;
    margin: auto;
    margin-top: 20px;
    width: 255px;
    height: 255px;
}
*/
.category {
/*    border: peru 2px solid;*/
    margin: auto;
    margin-top: 20px;
    width: 255px;
    height: 370px;
    display: block;
}
.category img.image {
    display: block;
    margin: auto;
}

.icon-label {
    margin-top: 15px;
    /*color: red;*/
    text-decoration: none;
}

.icon-label h2 {
    text-align: center;
    text-decoration: none;
    font-size: 50px;
/*    color: darkcyan;*/
/*    border: green 2px solid;*/
    
    margin: auto;
    
}
.category a {
    color: white;
    text-decoration: none;
}
.category a:hover .icon-label   {
    color: yellow;
    border: yellow 2px solid;
}



/**==================================Working here =============================================**/
/************************* Article Card *************************/
.article {
    /*border: 3px red solid;*/
    width: 300px;
    height: 400px;
    line-height: 1.5em;
    margin: auto;
    
}

.article img.image {
    /*border: orange 2px solid;*/
    width: 300px;
    height: 200px;
    border-top-left-radius: 20px;
}

.article-text {

/*    border: purple 2px solid;*/
    margin-top: 0px;
    margin: auto;
    width: 290px;
    height: 190px;
    overflow: auto;


    
}

section{
    width: 100%;
    height: 100%;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px black;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(black, yellowgreen);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(black, green);
    border-radius: 2px;
}


/*
.article-title {
    border: aqua 2px solid;
    width: 290px;
    height: 95px;
    margin: auto;
    overflow: auto;
    
}
*/
.article-summary{
    border: darkgreen 2px solid;
    width: 290px;
    height: 190px;
    margin: auto;
    overflow: auto;
}

.article a {
    color: white;
    text-decoration: none;
}
/*
.article h2 {
    /*border: greenyellow 2px solid;
    height: 100px;
    margin-top: 0px;
   
}

.article p {
    /*border: peru 2px solid;
    height: 90px;
    margin-top: 0px;
    /*line-height: 1.5em;
    
}
*/
.article a:hover .article-text {
    color: yellow;
/*    text-decoration: underline;*/
}

/****************************************************************** 
*                      Page Footer                               * 
******************************************************************/


footer {
    /*border: orange 2px solid;*/
    height: 150px;
    color: white;
    float: bottom;
}
/************************* Owner *************************/
.owner-container {
    /*border: 3px yellowgreen solid;*/
    width: 600px;
    height: 50px;
    margin-top: 8px;
}


.owner {
    
    border: 3px while solid;
    
    width: 600px;
    height: 50px;
    margin: 0px 0px auto 0px;
    font-size: 15px;
    text-align: center;
}
.owner p {
    margin-top: 5px;
    /*border: green 12px solid;*/
}

/************************* Banner footer *************************/
.banner-footer {
    width: 600px;
    height: 90px;
    text-align: center;
    margin: 0px 0px 0px 0px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}
.banner-footer h1 {
    margin: auto;
}

.footer-nav {
    width: 600px;
    height: 50px;
   /*
    max-width: 1200px;
    min-width: 500px;
    min-height: 20px;
    max-height: 100px;

    margin: auto;*/
    /*border: purple 3px solid;*/
    float: right;
   
}




